body, html {
	margin: 0;
	height: 100%;
}

_:-moz-tree-row(hover), html {
  scroll-behavior: smooth;/*for firefox*/
}

p {
	font-family: 'PT Sans', sans-serif;
	font-size: 18px;
	color: #4e4e4e;
}

h1 {
	font-family: 'PT Sans', sans-serif;
	font-weight: 100;
	font-size: 45px;
	text-align: center;
}

h2 {
	font-family: 'Source Sans Pro', sans-serif;
	text-align: center;
	font-weight: 100;
}

.container {
	margin: 0 auto;
}

.header {
	height: 143px;
}

.main-container {
	max-width: 1150px;
	width: 100%;
	margin: 0 auto;
}

img {
    width: 100%;
    height: auto;
}

.logo {
	max-width: 168.4px;
	width: 100%;
	height: 66px;
	margin-left: 20px;
	float: left;
}

.jpcontainer {
	width: 100%;
	height: 40px;
}

.jp {
	max-width: 60px;
	width: 100%;
	height: 40px;
	background-color: #ddd;
	float: right;
	margin-right: 20px;
}

.nav {
	max-width: 805px;
	width: 100%;
	height: 66px;
	float: right;
}

ul.horizontal {
	list-style: none;
	padding-top: 8px;
	margin-top: 14px;
}

ul.hor {
	list-style: none;
	padding-top: 8px;
	margin-top: 14px;
}

ul.horizontal li {
	max-width: 127.5px;
	width: 100%;
	float: right;
	text-align: center;
	font-size: 18px;
	font-family: 'Source Sans Pro', sans-serif;
    font-weight: 600;
}

ul.hor li {
	max-width: 127.5px;
	width: 100%;
	float: right;
	text-align: center;
	font-size: 18px;
	font-family: 'Source Sans Pro', sans-serif;
    font-weight: 600;
}

ul.horizontal li a {
	text-decoration: none;
	color: #ffffff;
}

ul.hor li a {
	text-decoration: none;
	color: #202020;
}

ul.horizontal li a:hover {
	color: #202020;
}

ul.hor li a:hover {
	color: #ff862e;
}

.main-box {

	text-align: center;
	clear: both;
	font-family: 'Source Sans Pro', sans-serif;
	background-image: url(adish_background.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: bottom;
	height: 100%;
	margin-top: 0;
	margin-right: 0;
	margin-left: 0;
	clip-path: polygon(0 0, 100% 0, 100% 80%, 0% 90%);
}

.main-des {
	height: 100%;
	padding: 16% 0 40%;
    font-size: 70px;
    color: #ffffff;
}

.about-us {
	text-align: center;
	color: #909090;
}

.about-image {
	max-width: 1110px;
	width: 100%;
	height: 300px;
	background-color: #dddddd;
	margin-right: auto;
	margin-left: auto;
}

.about-description {
	text-align: justify;
	background-color: #fff;
	margin-top: 30px;
	margin-right: 20px;
	margin-bottom: 30px;
	margin-left: 20px;
	line-height: 1.5;
}

.location {
	height: 560px;
	background-color: #eee;
}

.location1 {
	display: none;
}

.location-box {
    width: 46%;
    margin: 40px 2% 0 2%;
    float: left;
    color: #202020;
}

.loc-box {
    max-width: 450px;
    width: 100%;
    margin: 0 auto;
}

.location-label3 {
    max-width: 108px;
    width: 100%;
    float: left;
    clear: both;
    font-weight: 600;
    margin-left: 60px;
    text-align: right;
}

.location-label4 {
    max-width: 242px;
    width: 100%;
    float: right;
    margin-right: 20px;
}

.location-label {
	max-width: 188px;
	width: 100%;
	float: left;
	clear: both;
	font-weight: 600;
	margin-right: 20px;
	text-align: right;
}

.location-label2 {
	max-width: 242px;
	width: 100%;
	float: right;
}

.mission {
	text-align: center;
    clear: both;
    color: #909090;
}

.mission-box {
	height: 550px;
    padding: 0 20px;
    margin-top: -35px;
}

.mission-description {
	color: #ff862e;
	width: 51.8%;
    float: left;
    line-height: 1.5;
    text-align: justify;
    margin-right: 0.9%;
}

.mission-image {
	width: 46.3%;
    float: right;
    height: 450px;
    margin-top: 48px;
    margin-left: 1%;
}

.service {
	text-align: center;
	clear: both;
	color: #909090;
}

.service-box {
	padding-left: 20px;
	padding-bottom: 30px;
    height: 500px;
}

.service-images {
	color: #202020;
	max-width: 356.6px;
    width: 100%;
    float: left;
    text-align: justify;
    margin-right: 20px;
    line-height: 1.5;
}

.how-we-work {
	text-align: center;
	clear: both;
	color: #909090;
}

.work-box {
    padding: 0 20px;
    margin-top: -35px;
}

.work-description {
	color: #ff862e;
    width: 64%;
    float: left;
    line-height: 1.5;
    text-align: justify;
    margin-right: 1%;
}

.work-image {
    width: 34%;
    float: right;
    height: 355px;
    margin-top: 48px;
    margin-left: 1%;
}

.mile-box {
	padding-left: 20px;
	height: 450px;
}

.mile-description {
    clear: both;
    text-align: justify;
    line-height: 1.5;
}

.mile-images {
	color: #202020;
    width: 23.23%;
    float: left;
    text-align: justify;
    margin-right: 1.77%;
    line-height: 1.5;
    max-height: 410px;
    height: 100%;
}

.exempt-work {
	max-width: 263px;
	margin: 0 auto;
	width: 100%;
    height: 166px;
    opacity: 0.3;
    filter: alpha(opacity=100);
    background: url(Exempt-Work.png) no-repeat;
    clip-path: circle(82px at center);
}

.exempt-work:hover {
	opacity: 1;
	filter: alpha(opacity=100);
	clip-path: none;
	padding: 0 auto;
}

.extra-support {
	max-width: 263px;
	margin: 0 auto;
	width: 100%;
    height: 166px;
    opacity: 0.3;
    filter: alpha(opacity=100);
    background: url(Extra-curricular-Support.png) no-repeat;
    clip-path: circle(82px at center);
}

.extra-support:hover {
	opacity: 1;
	filter: alpha(opacity=100);
	clip-path: none;
}

.qcp {
	max-width: 263px;
	margin: 0 auto;
	width: 100%;
    height: 166px;
    opacity: 0.3;
    filter: alpha(opacity=100);
    background: url(QCP.png) no-repeat;
    clip-path: circle(82px at center);
}

.qcp:hover {
	opacity: 1;
	filter: alpha(opacity=100);
	clip-path: none;
}

.book-purchase-support {
	max-width: 263px;
	margin: 0 auto;
	width: 100%;
    height: 166px;
    opacity: 0.3;
    filter: alpha(opacity=100);
    background: url(Book-Purchase-Support.png) no-repeat;
    clip-path: circle(82px at center);
}

.book-purchase-support:hover {
	opacity: 1;
	filter: alpha(opacity=100);
	clip-path: none;
}

.reviews {
	max-width: 263px;
	margin: 0 auto;
	width: 100%;
    height: 166px;
    opacity: 0.3;
    filter: alpha(opacity=100);
    background: url(Reviews.png) no-repeat;
    clip-path: circle(82px at center);
}

.reviews:hover {
	opacity: 1;
	filter: alpha(opacity=100);
	clip-path: none;
}

.stock-options {
	max-width: 263px;
	margin: 0 auto;
	width: 100%;
    height: 166px;
    opacity: 0.3;
    filter: alpha(opacity=100);
    background: url(Stock-Options.png) no-repeat;
    clip-path: circle(82px at center);
}

.stock-options:hover {
	opacity: 1;
	filter: alpha(opacity=100);
	clip-path: none;
}

.rest-space {
	max-width: 263px;
	margin: 0 auto;
	width: 100%;
    height: 166px;
    opacity: 0.3;
    filter: alpha(opacity=100);
    background: url(Rest-Space.png) no-repeat;
    clip-path: circle(82px at center);
}

.rest-space:hover {
	opacity: 1;
	filter: alpha(opacity=100);
	clip-path: none;
}

.drink-bar {
	max-width: 263px;
	margin: 0 auto;
	width: 100%;
    height: 166px;
    opacity: 0.3;
    filter: alpha(opacity=100);
    background: url(Drink-Bar.png) no-repeat;
    clip-path: circle(82px at center);
}

.drink-bar:hover {
	opacity: 1;
	filter: alpha(opacity=100);
	clip-path: none;
}

.company-events {
	max-width: 263px;
	margin: 0 auto;
	width: 100%;
    height: 166px;
    opacity: 0.3;
    filter: alpha(opacity=100);
    background: url(Company-Events.png) no-repeat;
    clip-path: circle(82px at center);
}

.company-events:hover {
	opacity: 1;
	filter: alpha(opacity=100);
	clip-path: none;
}

.sharing-service-support {
	max-width: 263px;
	margin: 0 auto;
	width: 100%;
    height: 166px;
    opacity: 0.3;
    filter: alpha(opacity=100);
    background: url(Sharing-Service-Support.png) no-repeat;
    clip-path: circle(82px at center);
}

.sharing-service-support:hover {
	opacity: 1;
	filter: alpha(opacity=100);
	clip-path: none;
}

.recreational-discounts {
	max-width: 263px;
	margin: 0 auto;
	width: 100%;
    height: 166px;
    opacity: 0.3;
    filter: alpha(opacity=100);
    background: url(Recreational-Discounts.png) no-repeat;
    clip-path: circle(82px at center);
}

.recreational-discounts:hover {
	opacity: 1;
	filter: alpha(opacity=100);
	clip-path: none;
}

.restaurant-discounts {
	max-width: 263px;
	margin: 0 auto;
	width: 100%;
    height: 166px;
    opacity: 0.3;
    filter: alpha(opacity=100);
    background: url(Restaurant-Discounts.png) no-repeat;
    clip-path: circle(82px at center);
}

.restaurant-discounts:hover {
	opacity: 1;
	filter: alpha(opacity=100);
	clip-path: none;
}

.privacy-policy {
	height: 100px;
	background-color: #fff;
	text-align: center;
	font-family: 'PT Sans', sans-serif;
	padding: 25px 25px 0;
	font-size: 55px;
	color: #202020;
	margin-top: 30px;
}

.privacy-policy-des {
	background-color: #fff;
	padding: 0 20px;
	font-family: 'PT Sans', sans-serif;
	color: #909090;
	text-align: justify;
	line-height: 1.5;
}

.privacy-policy-des a {
	text-decoration: none;
	color: #f47317;
}

.privacy-policy-des a:hover {
	text-decoration: underline;
	color: #f47317;
}

.button-container {
	max-width: 210px;
	width: 100%;
	margin: 0 auto;
	margin-top: 8%;
	height: 64px;
}

.button-container a {
	text-decoration: none;
}

.button-container2 {
	max-width: 460px;
	width: 100%;
	margin: 0 auto;
	margin-top: 10%;
	height: 64px;
}

.button-container2 a {
	text-decoration: none;
}

.button-home {
	max-width: 210px;
	width: 100%;
	margin: 0 auto;
	text-align: center;
	font-family: 'PT Sans', sans-serif;
	background-color: #202020;
	padding: 22px 0;
	text-decoration: none;
	color: #ffffff;
	border-radius: 3px;
	border: solid 2px #202020;
}

.button-home:hover {
	background-color: #f47317;
	color: #fff;
	font-weight: 600;
	border-radius: 3px;
	border: solid 2px #f47317;
}


.button {
	max-width: 206px;
	width: 100%;
	margin: 10px;
	float: left;
	text-align: center;
	font-family: 'PT Sans', sans-serif;
	background-color: #202020;
	padding: 22px 0;
	text-decoration: none;
	color: #ffffff;
    border-radius: 3px;
    border: solid 2px #202020;
}

.button1 {
    max-width: 206px;
    width: 100%;
    margin: 10px;
    float: left;
    text-align: center;
    font-family: 'PT Sans', sans-serif;
    background-color: #ffffff;
    padding: 22px 0;
    text-decoration: none;
    color: #202020;
    border-radius: 3px;
    border: solid 2px #202020;
}

.button:hover {
	background-color: #f47317;
	color: #fff;
	font-weight: 600;
	border-radius: 3px;
    border: solid 2px #f47317;
}

.button1:hover {
	background-color: #f47317;
	color: #fff;
	font-weight: 600;
	border-radius: 3px;
    border: solid 2px #f47317;
}

.footer {
	text-align: center;
	background-color: #f47317;
	font-family: 'PT Sans', sans-serif;
	clear: both;
	padding: 15px 0;
	margin-top: 10%;
	color: #ffffff;
}


.navbar {
    overflow: hidden;
    font-family: 'Source Sans Pro', sans-serif;
	width: 40px;
	float: right;
}

.navbar a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.dropdown {
    float: left;
    overflow: hidden;
}

.dropdown .dropbtn {
    cursor: pointer;
    font-size: 16px;    
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

.navbar a:hover, .dropdown:hover .dropbtn, .dropbtn:focus {
    
}

.dropdown-content {
	display: none;
	position: absolute;
	background-color: #f9f9f9;
	min-width: 160px;
	width: 100%;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 1;
	left: 0px;
	margin-top: 13px;
}

.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: center;
}

.dropdown-content a:hover {
    background-color: #f47317;
    color: #ffffff;
}

.show {
    display: block;
}

button.dropbtn {
    background: none;
    border: none;
}

.bar1, .bar2, .bar3 {
    width: 28px;
    height: 3px;
    background-color: #fff;
    margin: 6px 0;
    transition: 0.4s;
}

.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-6px, 5px);
}

.change .bar2 {opacity: 0;}

.change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-7px, -7px);
}

.bar4, .bar5, .bar6 {
    width: 28px;
    height: 3px;
    background-color: #202020;
    margin: 6px 0;
    transition: 0.4s;
}

.change .bar4 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-6px, 5px);
}

.change .bar5 {opacity: 0;}

.change .bar6 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-7px, -7px);
}



@media screen and (max-width: 476px) {
	.button-container2 {
    max-width: 230px;
    width: 100%;
    height: 175px;
	}
	.privacy-policy {
    height: 60px;
    margin-top: 0;
    font-size: 45px;
	}
}

@media screen and (max-width: 995px) {
	.location-box {
		width: 98%;
	}
	.location {
		height: 1080px;
	}
}

/* ----------- Mission ----------- */

@media screen and (max-width: 1134px) {
	h1 {
		font-size: 43px;
	}
	p {
		font-size: 17.8px;
	}
}

@media screen and (max-width: 1166px) {
	.mile-images {
		width: 31.56%;
	}
	.mile-box {
		height: 410px;
	}
	.button-container {
		margin-top: 39%;
	}
	h1 {
		font-size: 43px;
	}
	p {
		font-size: 18px;
	}
}

@media screen and (max-width: 1121px) {
	p {
		font-size: 17.5px;
	}
}

@media screen and (max-width: 1075px) {
	.mile-images {
		width: 31.4%;
	}
	.mile-box {
		height: 410px;
	}
	.button-container {
		margin-top: 42%;
	}
}

@media screen and (max-width: 1089px) {
	h1 {
		font-size: 41px;
	}
	.mission-image {
		height: 419px;
	}
	p {
		font-size: 17.2px;
	}
}

@media screen and (max-width: 997px) {
	h1 {
		font-size: 40px;
	}
}

@media screen and (max-width: 980px) {
	h1 {
		font-size: 38px;
	}
	.mission-image {
		height: 381px;
	}
	p {
		font-size: 16px;
	}
	.mission-box {
		height: 480px;
	}
}

@media screen and (max-width: 928px) {
	h1 {
		font-size: 45px;
	}
	.mission-image {
		width: 59%;
		float: none;
		height: 450px;
		margin-left: auto;
		margin-right: auto;
	}
	p {
		font-size: 18px;
	}
	.mission-description {
		width: 100%;
		margin-bottom: 30px;
	}
	.work-image {
    	width: auto;
    	max-width: 355px;
    	height: 355px;
    	margin-top: 48px;
    	margin-left: auto;
    	margin-right: auto;
    	float: none;
	}
	.work-description {
    	width: 100%;
    	margin-left: auto;
    	margin-right: auto;
	}
}

@media screen and (max-width: 922px) {
	h1 {
		font-size: 45px;
	}
	.mission-image {
		width: 59%;
		float: none;
		height: 450px;
		margin-left: auto;
		margin-right: auto;
	}
	p {
		font-size: 18px;
	}
	.mission-description {
		width: 100%;
		margin-bottom: 30px;
	}
}

@media screen and (max-width: 570px) {
	h1 {
		font-size: 45px;
	}
	.mission-image {
		width: 59%;
		float: none;
		height: 450px;
		margin-left: auto;
		margin-right: auto;
	}
	p {
		font-size: 18px;
	}
	.mission-description {
		width: 100%;
		margin-bottom: 30px;
	}
}


@media screen and (min-width: 1016px) {
  ul.horizontal li {
    font-size: 18px;
	max-width: 127.3px;
	width: 100%;
  }
  ul.hor li {
    font-size: 18px;
	max-width: 127.3px;
	width: 100%;
  }
  .nav {
	  max-width: 804px;
	  width: 100%;
  }
}

@media screen and (max-width: 1015px) {
  ul.horizontal li {
    font-size: 18px;
	max-width: 125.5px;
	width: 100%;
  }
  ul.hor li {
    font-size: 18px;
	max-width: 125.5px;
	width: 100%;
  }
  .nav {
	  max-width: 793px;
	  width: 100%;
  }
}

@media screen and (min-width: 984px) {
  ul.horizontal li {
    font-size: 18px;
	max-width: 122px;
	width: 100%;
  }
  ul.hor li {
    font-size: 18px;
	max-width: 122px;
	width: 100%;
  }
  .nav {
	  max-width: 772px;
	  width: 100%;
  }
}

@media screen and (max-width: 983px) {
  ul.horizontal li {
    font-size: 18px;
	max-width: 120.1px;
	width: 100%;
  }
  ul.hor li {
    font-size: 18px;
	max-width: 120.1px;
	width: 100%;
  }
  .nav {
	  max-width: 761px;
	  width: 100%;
  }
}

@media screen and (min-width: 972px) {
  ul.horizontal li {
    font-size: 18px;
	max-width: 120px;
	width: 100%;
  }
  ul.hor li {
    font-size: 18px;
	max-width: 120px;
	width: 100%;
  }
  .nav {
	  max-width: 760px;
	  width: 100%;
  }
}

@media screen and (max-width: 971px) {
  ul.horizontal li {
    font-size: 18px;
	max-width: 119.8px;
	width: 100%;
  }
  ul.hor li {
    font-size: 18px;
	max-width: 119.8px;
	width: 100%;
  }
  .nav {
	  max-width: 759px;
	  width: 100%;
  }
}

@media screen and (min-width: 930px) {
  ul.horizontal li {
    font-size: 18px;
	max-width: 113px;
	width: 100%;
  }
  ul.hor li {
    font-size: 18px;
	max-width: 113px;
	width: 100%;
  }
  .nav {
	  max-width: 718px;
	  width: 100%;
  }
  .navbar {
		display: none;
	}
}

@media screen and (max-width: 929px) {
  ul.horizontal li {
    font-size: 18px;
	max-width: 112.8px;
	width: 100%;
  }
  ul.hor li {
    font-size: 18px;
	max-width: 112.8px;
	width: 100%;
  }
  .nav {
	  max-width: 717px;
	  width: 100%;
  }
  .navbar {
	  display: none;
  }
}

@media screen and (max-width: 928px) {
	.navbar {
		display: block;
	}
  ul.horizontal {
    display: none;
	}
	ul.hor {
    display: none;
	}
  .nav {
	width: 100%;
	max-width: 40px;
	margin-right: 10px;
	height: auto;
	margin-top: 12px;
	  }
  .logo {
	  max-width: 105px;
	  width: 100%;
	  height: auto;
	  margin-left: 8px;
	  float: left;
	  margin-top: 8px;
	}
	.jpcontainer {
    max-width: 68px;
    width: 100%;
    height: 40px;
    float: right;
	}
	.header {
    height: 56px;
    border-bottom: solid 1.5px #ddd;
	}
	.jp {
		margin-right: 8px;
	}
}

@media screen and (max-width: 351px) {
  .nav {
	  width: 100%;
	  max-width: 80px;
	  margin-right: 10px;
	  height: 48px;
	  }
  .logo {
	  max-width: 85px;
	  width: 100%;
	  height: auto;
	  margin-left: 8px;
	  float: left;
	  margin-top: 8px;
	}
	.jpcontainer {
    max-width: 68px;
    width: 100%;
    height: 40px;
    float: right;
	}
	.jp {
		margin-right: 8px;
	}
	.header {
    height: 48px;
    border-bottom: solid 1.5px #ddd;
	}
	.location {
    height: 1090px;
	}
	.location-box {
    margin: 20px 20px;
	width: auto;
	}
	.location-label {
    max-width: 58px;
    width: 100%;
    font-size: 12px;
    margin-right: 19px;
	}
	.location-label2 {
    max-width: 169px;
    width: 100%;
    float: right;
    font-size: 12px;
	}
	.about-us {
		font-size: 24px;
	}
	.mission {
		font-size: 24px;
	}
	.service {
		font-size: 24px;
	}
}

@media screen and (max-width: 306px) {
  .nav {
	  width: 100%;
	  max-width: 80px;
	  margin-right: 10px;
	  height: 48px;
	  }
  .logo {
	  max-width: 85px;
	  width: 100%;
	  height: auto;
	  margin-left: 8px;
	  float: left;
	  margin-top: 8px;
	}
	.jpcontainer {
    max-width: 68px;
    width: 100%;
    height: 40px;
    float: right;
	}
	.jp {
		margin-right: 8px;
	}
	.header {
    height: 48px;
	}
	.location {
    height: auto;
	}
	.location-box {
    margin: 20px 20px;
	width: auto;
	}
	.location-label {
    max-width: 58px;
    width: 100%;
    font-size: 12px;
    margin-right: 19px;
	}
	.location-label2 {
    max-width: 169px;
    width: 100%;
    float: right;
    font-size: 12px;
	}
}



/* ----------- iPhone 4 and 4S ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2) {

}

/* Portrait */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {
  	.main-des {
    	font-size: 50px;
	}
	h1 {
		font-size: 30px;
		text-align: center;
	}
	p {
		font-size: 16px;
	}
	.nav {
		height: 40px;
		margin-top: 10px;
	}
	.dropdown-content {
		margin-top: 7px;
	}
	.about-image {
    	height: 200px;
    }
    .location {
    	display: none;
    }
	.location1 {
		display: block;
    	height: 970px;
    	background-color: #eee;
	}
	.location-box1 {
    	max-width: 280px;
   		width: 100%;
    	margin: 20px 20px 0 20px;
    	float: left;
    	color: #202020;
    }
	.location-label1 {
    	max-width: 118px;
    	width: 100%;
    	font-size: 12px;
    	margin-right: 9px;
    	float: left;
    	clear: both;
	}
	.location-label21 {
    	max-width: 145px;
    	width: 100%;
    	float: right;
    	font-size: 12px;
	}
	.mission-image {
		height: 250px;
	    margin-bottom: 10px;
	    margin-top: 38px;
	    width: 100%;
	}
	.mission-description {
		margin-bottom: 20px;
	}
	.service-box {
		max-width: 280px;
    	padding-right: 20px;
    	height: 1315px;
	}
	.service-images {
		max-width: 280px;
		width: 100%;
	}
	.work-image {
    	max-width: 280px;
    	width: 100%;
    	float: right;
    	height: 280px;
    	margin-top: 65px;
    	margin-left: 20px;
	}
	.work-description {
	    width: 100%;
	}
	.mile-images {
		max-width: 280px;
		margin-bottom: 20px;
    	height: auto;
    	width: 100%;
	}
	.mile-box {
		height: 1485px;
	}
	.extra-support {
    	width: 280px;
	}
	.qcp {
		width: 280px;
	}
	.book-purchase-support {
		width: 280px;
	}
	.stock-options {
		width: 280px;
	}
	.rest-space {
		width: 280px;
	}
	.drink-bar {
		width: 280px;
	}
	.sharing-service-support {
		width: 280px;
	}
	.recreational-discounts {
		width: 280px;
	}
	.restaurant-discounts {
		width: 280px;
	}
}

/* Landscape */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) {
  	.main-des {
    	font-size: 50px;
	}
	h1 {
		font-size: 30px;
		text-align: center;
	}
	p {
		font-size: 16px;
	}
	.nav {
		height: 40px;
	}
	.about-image {
    	height: 200px;
    }
    .location {
    	display: none;
    }
	.location1 {
		display: block;
    	height: 945px;
    	background-color: #eee;
	}
	.location-box1 {
    	max-width: 280px;
   		width: 100%;
    	margin: 20px 20px 0 20px;
    	float: left;
    	color: #202020;
    }
	.location-label1 {
    	max-width: 118px;
    	width: 100%;
    	font-size: 12px;
    	margin-right: 9px;
    	float: left;
    	clear: both;
	}
	.location-label21 {
    	max-width: 144px;
    	width: 100%;
    	float: right;
    	font-size: 12px;
	}
	.mission-image {
		height: 250px;
	    margin-bottom: 10px;
	    margin-top: 38px;
	}
	.mission-description {
		margin-bottom: 20px;
	}
	.service-box {
		max-width: 280px;
    	padding-right: 20px;
    	height: 930px;
	}
	.service-images {
		max-width: 280px;
	}
	.work-image {
    	max-width: 280px;
    	width: 100%;
    	float: right;
    	background-color: #ddd;
    	height: 280px;
    	margin-top: 65px;
    	margin-left: 20px;
	}
	.mile-images {
		max-width: 280px;
	}
	.mile-box {
		height: 1415px;
	}
	.extra-support {
    	width: 280px;
	}
	.qcp {
		width: 280px;
	}
	.book-purchase-support {
		width: 280px;
	}
	.stock-options {
		width: 280px;
	}
	.rest-space {
		width: 280px;
	}
	.drink-bar {
		width: 280px;
	}
	.sharing-service-support {
		width: 280px;
	}
	.recreational-discounts {
		width: 280px;
	}
	.restaurant-discounts {
		width: 280px;
	}
}

/* ----------- iPhone 5, 5S, 5C and 5SE ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2) {

}

/* Portrait */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {
}

/* Landscape */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) {
  	.location-box1 {
    	max-width: 440px;
	}
	.location-label1 {
    	max-width: 150px;
	}
	.location-label21 {
    	max-width: 173px;
    }
    .service-box {
    	max-width: 440px;
    	height: 1425px;
    }
    .service-images {
    	max-width: 440px;
    	width: 100%;
	}
	.work-image {
    	max-width: 440px;
    	height: 440px;
	}
	.mile-images {
    	max-width: 440px;
    	height: auto;
    	margin-bottom: 20px;
	}
	.extra-support {
    	width: 335px;
	}
	.qcp {
		width: 335px;
	}
	.book-purchase-support {
		width: 335px;
	}
	.stock-options {
		width: 335px;
	}
	.rest-space {
		width: 335px;
	}
	.drink-bar {
		width: 335px;
	}
	.sharing-service-support {
		width: 335px;
	}
	.recreational-discounts {
		width: 335px;
	}
	.restaurant-discounts {
		width: 335px;
	}
}

/* ----------- iPhone 6, 6S, 7 and 8 ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2) {
	.location-box1 {
    	max-width: 335px;
	}
	.location-label1 {
    	max-width: 148px;
	}
	.location-label21 {
    	max-width: 144px;
    }
    .service-box {
    	max-width: 335px;
    }
    .service-images {
    	max-width: 335px;
    	width: 100%;
	}
	.work-image {
    	max-width: 335px;
	}
	.mile-images {
    	max-width: 335px;
	}
	.extra-support {
    	width: 335px;
	}
	.qcp {
		width: 335px;
	}
	.book-purchase-support {
		width: 335px;
	}
	.stock-options {
		width: 335px;
	}
	.rest-space {
		width: 335px;
	}
	.drink-bar {
		width: 335px;
	}
	.sharing-service-support {
		width: 335px;
	}
	.recreational-discounts {
		width: 335px;
	}
	.restaurant-discounts {
		width: 335px;
	}
}

/* Portrait */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) { 
  	.location-box1 {
    	max-width: 334px;
	}
	.location-label1 {
    	max-width: 148px;
	}
	.location-label21 {
    	max-width: 144px;
    }
    .service-box {
    	max-width: 374px;
    	height: 1365px;
    }
    .service-images {
    	max-width: 374px;
    	width: 100%;
	}
	.work-image {
    	max-width: 374px;
    	height: 335px;
	}
	.mile-images {
    	max-width: 334px;
	}
	.extra-support {
    	width: 335px;
	}
	.qcp {
		width: 335px;
	}
	.book-purchase-support {
		width: 335px;
	}
	.stock-options {
		width: 335px;
	}
	.rest-space {
		width: 335px;
	}
	.drink-bar {
		width: 335px;
	}
	.sharing-service-support {
		width: 335px;
	}
	.recreational-discounts {
		width: 335px;
	}
	.restaurant-discounts {
		width: 335px;
	}
}

/* Landscape */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) { 
  	.location-box1 {
    	max-width: 440px;
	}
	.location-label1 {
    	max-width: 150px;
	}
	.location-label21 {
    	max-width: 173px;
    }
    .service-box {
    	max-width: 440px;
    	height: 1425px;
    }
    .service-images {
    	max-width: 440px;
    	width: 100%;
	}
	.work-image {
    	max-width: 440px;
    	height: 440px;
	}
	.mile-images {
    	max-width: 440px;
    	height: auto;
    	margin-bottom: 20px;
	}
	.extra-support {
    	width: 335px;
	}
	.qcp {
		width: 335px;
	}
	.book-purchase-support {
		width: 335px;
	}
	.stock-options {
		width: 335px;
	}
	.rest-space {
		width: 335px;
	}
	.drink-bar {
		width: 335px;
	}
	.sharing-service-support {
		width: 335px;
	}
	.recreational-discounts {
		width: 335px;
	}
	.restaurant-discounts {
		width: 335px;
	}
}

/* ----------- iPhone 6+, 7+ and 8+ ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 414px) 
  and (max-device-width: 736px) 
  and (-webkit-min-device-pixel-ratio: 3) { 

}

/* Portrait */
@media only screen 
  and (min-device-width: 414px) 
  and (max-device-width: 736px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: portrait) {
  .location-box1 {
    	max-width: 374px;
	}
	.location-label1 {
    	max-width: 148px;
	}
	.location-label21 {
    	max-width: 144px;
    }
    .service-box {
    	max-width: 374px;
    	height: 1365px;
    }
    .service-images {
    	max-width: 374px;
    	width: 100%;
	}
	.work-image {
    	max-width: 374px;
    	height: 355px;
	}
	.mile-images {
    	max-width: 374px;
	}
	.extra-support {
    	width: 335px;
	}
	.qcp {
		width: 335px;
	}
	.book-purchase-support {
		width: 335px;
	}
	.stock-options {
		width: 335px;
	}
	.rest-space {
		width: 335px;
	}
	.drink-bar {
		width: 335px;
	}
	.sharing-service-support {
		width: 335px;
	}
	.recreational-discounts {
		width: 335px;
	}
	.restaurant-discounts {
		width: 335px;
	} 
}

/* Landscape */
@media only screen 
  and (min-device-width: 414px) 
  and (max-device-width: 736px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: landscape) {
  	.location-box1 {
    	max-width: 440px;
	}
	.location-label1 {
    	max-width: 150px;
	}
	.location-label21 {
    	max-width: 173px;
    }
    .service-box {
    	max-width: 440px;
    	height: 1425px;
    }
    .service-images {
    	max-width: 440px;
    	width: 100%;
	}
	.work-image {
    	max-width: 440px;
    	height: 440px;
	}
	.mile-images {
    	max-width: 440px;
    	height: auto;
    	margin-bottom: 20px;
	}
	.extra-support {
    	width: 335px;
	}
	.qcp {
		width: 335px;
	}
	.book-purchase-support {
		width: 335px;
	}
	.stock-options {
		width: 335px;
	}
	.rest-space {
		width: 335px;
	}
	.drink-bar {
		width: 335px;
	}
	.sharing-service-support {
		width: 335px;
	}
	.recreational-discounts {
		width: 335px;
	}
	.restaurant-discounts {
		width: 335px;
	}	
}

/* ----------- iPhone X ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 812px) 
  and (-webkit-min-device-pixel-ratio: 3) { 

}

/* Portrait */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 812px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: portrait) { 

}

/* Landscape */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 812px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: landscape) { 

}


/* ----------- Galaxy S3 ----------- */

/* Portrait and Landscape */
@media screen 
  and (device-width: 320px) 
  and (device-height: 640px) 
  and (-webkit-device-pixel-ratio: 2) {

}

/* Portrait */
@media screen 
  and (device-width: 320px) 
  and (device-height: 640px) 
  and (-webkit-device-pixel-ratio: 2) 
  and (orientation: portrait) {

}

/* Landscape */
@media screen 
  and (device-width: 320px) 
  and (device-height: 640px) 
  and (-webkit-device-pixel-ratio: 2) 
  and (orientation: landscape) {

}

/* ----------- Galaxy S4, S5 and Note 3 ----------- */

/* Portrait and Landscape */
@media screen 
  and (device-width: 320px) 
  and (device-height: 640px) 
  and (-webkit-device-pixel-ratio: 3) {

}

/* Portrait */
@media screen 
  and (device-width: 320px) 
  and (device-height: 640px) 
  and (-webkit-device-pixel-ratio: 3) 
  and (orientation: portrait) {

}

/* Landscape */
@media screen 
  and (device-width: 320px) 
  and (device-height: 640px) 
  and (-webkit-device-pixel-ratio: 3) 
  and (orientation: landscape) {

}

/* ----------- Galaxy S6 ----------- */

/* Portrait and Landscape */
@media screen 
  and (device-width: 360px) 
  and (device-height: 640px) 
  and (-webkit-device-pixel-ratio: 4) {

}

/* Portrait */
@media screen 
  and (device-width: 360px) 
  and (device-height: 640px) 
  and (-webkit-device-pixel-ratio: 4) 
  and (orientation: portrait) {

}

/* Landscape */
@media screen 
  and (device-width: 360px) 
  and (device-height: 640px) 
  and (-webkit-device-pixel-ratio: 4) 
  and (orientation: landscape) {

}


/* ----------- Google Pixel ----------- */

/* Portrait and Landscape */
@media screen 
  and (device-width: 360px) 
  and (device-height: 640px) 
  and (-webkit-device-pixel-ratio: 3) {

}

/* Portrait */
@media screen 
  and (device-width: 360px) 
  and (device-height: 640px) 
  and (-webkit-device-pixel-ratio: 3) 
  and (orientation: portrait) {

}

/* Landscape */
@media screen 
  and (device-width: 360px) 
  and (device-height: 640px) 
  and (-webkit-device-pixel-ratio: 3) 
  and (orientation: landscape) {

}

/* ----------- Google Pixel XL ----------- */

/* Portrait and Landscape */
@media screen 
  and (device-width: 360px) 
  and (device-height: 640px) 
  and (-webkit-device-pixel-ratio: 4) {

}

/* Portrait */
@media screen 
  and (device-width: 360px) 
  and (device-height: 640px) 
  and (-webkit-device-pixel-ratio: 4) 
  and (orientation: portrait) {

}

/* Landscape */
@media screen 
  and (device-width: 360px) 
  and (device-height: 640px) 
  and (-webkit-device-pixel-ratio: 4) 
  and (orientation: landscape) {

}


/* ----------- HTC One ----------- */

/* Portrait and Landscape */
@media screen 
  and (device-width: 360px) 
  and (device-height: 640px) 
  and (-webkit-device-pixel-ratio: 3) {

}

/* Portrait */
@media screen 
  and (device-width: 360px) 
  and (device-height: 640px) 
  and (-webkit-device-pixel-ratio: 3) 
  and (orientation: portrait) {

}

/* Landscape */
@media screen 
  and (device-width: 360px) 
  and (device-height: 640px) 
  and (-webkit-device-pixel-ratio: 3) 
  and (orientation: landscape) {

}


/* ----------- Windows Phone ----------- */

/* Portrait and Landscape */
@media screen 
  and (device-width: 480px) 
  and (device-height: 800px) {

}

/* Portrait */
@media screen 
  and (device-width: 480px) 
  and (device-height: 800px)  
  and (orientation: portrait) {

}

/* Landscape */
@media screen 
  and (device-width: 480px) 
  and (device-height: 800px) 
  and (orientation: landscape) {

}


