body, html {
	margin: 0;
	height: 100%;
}

_:-moz-tree-row(hover), html {
  scroll-behavior: smooth;/*for firefox*/
}

p {
	font-family: 'PT Sans', sans-serif;
	font-size: 18px;
	color: #4e4e4e;
}

h1 {
	font-family: 'PT Sans', sans-serif;
	font-weight: 100;
	font-size: 45px;
}

h2 {
	font-family: 'Source Sans Pro', sans-serif;
	text-align: center;
	font-weight: 100;
    margin-left: 0.83em;
    margin-right: 0.83em;
}

h3 {
    display: none;
    font-family: 'PT Sans', sans-serif;
    font-weight: 100;
    font-size: 35px;
}

.container {
	margin: 0 auto;
}

.header {
	height: 80px;
	border-bottom: 1px solid #E2E8ED;
    position: fixed;
    top: 0;
    background: rgba(255,255,255,0.96);
    z-index: 100;
    width: 100%;
}

.main-container {
	max-width: 1150px;
	width: 100%;
	margin: 0 auto;
}

.main-container-1 {
    max-width: 1400px;
    width: 100%;
    margin: 0 auto;
}

.logo img {
    border: none;
}

img {
    width: 100%;
    height: auto;
    border-radius: 5px;
    border: 1px solid #f5f5f5;
}

.logo {
	max-width: 130px;
    width: 100%;
    height: 66px;
    margin-left: 20px;
    float: left;
    margin-top: 15px;
}

.jpcontainer {
	width: 10%;
    height: 40px;
    float: right;
}

.jp {
	max-width: 60px;
	width: 100%;
	height: 20px;
	background-color: #2e363f;
	float: right;
	margin-right: 20px;
    text-align: center;
    padding: 12px 0;
    font-weight: 600;
    color: #ffffff;
    font-family: 'Source Sans Pro', sans-serif;
}

.nav {
	max-width: 805px;
	width: 100%;
	height: 66px;
	float: right;
}

ul.horizontal {
	list-style: none;
	padding-top: 8px;
	margin-top: 3%;
}

ul.hor {
	list-style: none;
	padding-top: 8px;
	margin-top: 14px;
}

ul.horizontal li {
	max-width: 127.5px;
	width: 100%;
	float: right;
	text-align: center;
	font-size: 16px;
	font-family: 'Source Sans Pro', sans-serif;
    font-weight: 100;
}

ul.hor li {
	max-width: 127.5px;
	width: 100%;
	float: right;
	text-align: center;
	font-size: 18px;
	font-family: 'Source Sans Pro', sans-serif;
    font-weight: 600;
}

ul.horizontal li a {
	text-decoration: none;
	color: #2e363f;
}

ul.hor li a {
	text-decoration: none;
	color: #2e363f;
}

ul.horizontal li a:hover {
	color: #2e363f;
}

ul.hor li a:hover {
	color: #ff862e;
}

.main-box {
	text-align: center;
	clear: both;
	font-family: 'Source Sans Pro', sans-serif;
	background-color: #dddddd;
    background-image: url(head.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
	height: 322px;
	margin-top: 0;
	margin-right: 0;
	margin-left: 0;
    padding-top: 6%;
	display: table;
    width: 100%;
    background-position: center center;
}

.main-des {
	height: 100%;
    font-size: 60px;
    color: #ffffff;
    display: table-cell;
    vertical-align: middle;
    padding-left: 1.83em;
    padding-right: 1.83em;
}

.about-us {
	text-align: center;
	color: #2e363f;
}

.aboutuscon {
    margin-top: 9.5%;
    text-align: center;
    color: #2e363f;
}

.about-image {
	width: 90%;
	margin-right: auto;
	margin-left: auto;
}

.about-description {
	text-align: justify;
    background-color: #fff;
    margin-top: 30px;
    margin-right: auto;
    margin-bottom: 30px;
    margin-left: auto;
    line-height: 1.5;
    width: 90%;
    font-family: 'PT Sans', sans-serif;
    font-size: 18px;
    color: #4e4e4e;
}

.officescon {
    display: none;
}

.location {
	height: 595px;
	background-color: #f1f4f8;
}

.location1 {
	display: none;
}

.location-box {
    width: 46%;
    margin: 40px 2% 0 2%;
    float: left;
    color: #2e363f;
}

.location-box-1 {
    display: none;
}

.location-title {
    text-align: center;
}

.loc-box {
    max-width: 450px;
    width: 100%;
    margin: 0 auto;
}

.locline {
    clear: both;
    border-style: solid none none none;
    border-width: 1px;
    border-color: #E2E8ED;
    max-width: 70%;
    margin: 0 auto;
    display: none;
}

.location-label3 {
    max-width: 108px;
    width: 100%;
    float: left;
    clear: both;
    font-weight: 600;
    margin-left: 60px;
    text-align: right;
}

.location-label4 {
    max-width: 242px;
    width: 100%;
    float: right;
    margin-right: 20px;
}

.location-label {
	width: 46%;
	float: left;
	clear: both;
	font-weight: 600;
	margin-right: 6%;
	text-align: right;
}

.location-label-a {
    width: 48%;
    float: left;
}

.location-label-b {
    width: 35%;
    float: left;
    clear: both;
    font-weight: 600;
    margin-right: 6%;
    text-align: right;
}

.location-label-c {
    width: 59%;
    float: left;
}

.space {
    display: none;
}

.location-label2 {
	max-width: 242px;
	width: 100%;
	float: right;
}

.mission {
	clear: both;
    padding-bottom: 0.4%;
}

.missioncon {
    text-align: center;
    clear: both;
    color: #2e363f;
    margin-top: 10.5%;
}

.mission-box {
	height: 640px;
    padding: 0 5%;
    margin-top: -35px;
}

.mission-description {
	color: #ff862e;
	width: 51.8%;
    float: left;
    line-height: 1.5;
    text-align: justify;
    margin-right: 0.9%;
}

.missiondes {
    text-align: left;
    font-family: 'PT Sans', sans-serif;
    font-weight: 100;
    font-size: 43px;
    -webkit-margin-before: 0.67em;
    -webkit-margin-after: 0.67em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
}

.mission-image {
	width: 46.3%;
    float: right;
    height: 450px;
    margin-top: 48px;
    margin-left: 1%;
}

.service {
	clear: both;
    border-style: solid none none none;
    border-width: 1px;
    border-color: #E2E8ED;
    max-width: 70%;
    margin: 0 auto;
}

.servicecon {
    text-align: center;
    clear: both;
    color: #2e363f;
    max-width: 1150px;
    margin: 0 auto;
    padding-top: 7.6%;
}

.service-box {
	padding-left: 5%;
    padding-right: 5%;
	padding-bottom: 30px;
    height: 600px;
    margin-top: -2%;
}

.service-images {
	color: #ff862e;
    max-width: 29.95%;
    width: 100%;
    float: left;
    text-align: center;
    margin-right: 5%;
    line-height: 1.5;
}

.service-images-1 {
    color: #ff862e;
    max-width: 29.95%;
    float: left;
    text-align: center;
    line-height: 1.5;
}

.work-container {
    background-color: #fff;
    text-align: center;
    clear: both;
    color: #2e363f;
    padding-top: 4.4%;
    margin: 0 auto;
}

.how-we-work {
	text-align: center;
    clear: both;
    color: #2e363f;
    max-width: 70%;
    margin: 0 auto;
    border-style: solid none none none;
    border-width: 1px;
    border-color: #E2E8ED;
    padding-top: 4%;
}

.work-box {
    padding: 0 5%;
    margin-top: -35px;
    padding-bottom: 4%;
}

.work-box-1 {
    padding: 0 5%;
    margin-top: -35px;
    margin-bottom: 4%;
}

.work-description {
	color: #ff862e;
    width: 63.3%;
    float: left;
    line-height: 1.5;
    text-align: justify;
    margin-right: 1.85%;
}

.work-image {
    width: 33%;
    float: right;
    height: 355px;
    margin-top: 4.65%;
    margin-left: 1.85%;
}

.work-title {
    color: #ff862e;
    float: left;
    line-height: 1.5;
    text-align: left;
    margin-right: 1%;
}

.mile-title {
    color: #ff862e;
    width: 64%;
    float: left;
    line-height: 1.5;
    text-align: left;
    margin-right: 1%;
}

.mile-box {
	height: 380px;
}

.mile-description {
    clear: both;
    text-align: justify;
    line-height: 1.5;
    margin-bottom: 45px;
}

.mile-images {
    color: #2e363f;
    width: 31.75%;
    float: left;
    text-align: justify;
    line-height: 1.5;
    background-color: #f1f4f8;
    border-radius: 5px;
    border: 1px solid #f1f4f8;
    margin-right: 2%;
    margin-bottom: 2%;
    height: 360px;
}

.mile-images-1 {
    color: #2e363f;
    width: 31.75%;
    float: left;
    text-align: justify;
    line-height: 1.5;
    background-color: #f1f4f8;
    border-radius: 5px;
    border: 1px solid #f1f4f8;
    margin-bottom: 2%;
    height: 360px;
}

.exempt-work {
	max-width: 180px;
    margin: 0 auto;
    width: 100%;
}

.exemptworkdes {
	padding-left: 10%;
    padding-right: 10%;
    font-family: 'PT Sans', sans-serif;
    font-size: 16px;
    color: #4e4e4e;
    display: block;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    padding-bottom: 3%;
    padding-top: 2%;
    text-align: center;
}

.extra-support {
	max-width: 180px;
    margin: 0 auto;
    width: 100%;
}

.extrasupportdes {
	padding-left: 10%;
    padding-right: 10%;
    font-family: 'PT Sans', sans-serif;
    font-size: 16px;
    color: #4e4e4e;
    display: block;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    padding-bottom: 3%;
    padding-top: 2%;
    text-align: center;
}

.qcp {
	max-width: 180px;
    margin: 0 auto;
    width: 100%;
}

.qcpdes {
	padding-left: 10%;
    padding-right: 10%;
    font-family: 'PT Sans', sans-serif;
    font-size: 16px;
    color: #4e4e4e;
    display: block;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    padding-bottom: 3%;
    padding-top: 2%;
    text-align: center
}

.book-purchase-support {
	max-width: 180px;
    margin: 0 auto;
    width: 100%;
}

.booksupportdes {
	padding-left: 10%;
    padding-right: 10%;
    font-family: 'PT Sans', sans-serif;
    font-size: 16px;
    color: #4e4e4e;
    display: block;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    padding-bottom: 3%;
    padding-top: 2%;
    text-align: center
}

.reviews {
	max-width: 180px;
    margin: 0 auto;
    width: 100%;
}

.reviewsdes {
	padding-left: 10%;
    padding-right: 10%;
    font-family: 'PT Sans', sans-serif;
    font-size: 16px;
    color: #4e4e4e;
    display: block;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    padding-bottom: 3%;
    padding-top: 2%;
    text-align: center
}

.stock-options {
	max-width: 180px;
    margin: 0 auto;
    width: 100%;
}

.stocksdes {
	padding-left: 10%;
    padding-right: 10%;
    font-family: 'PT Sans', sans-serif;
    font-size: 16px;
    color: #4e4e4e;
    display: block;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    padding-bottom: 3%;
    padding-top: 2%;
    text-align: center
}

.rest-space {
	max-width: 180px;
    margin: 0 auto;
    width: 100%;
}

.restdes {
	padding-left: 10%;
    padding-right: 10%;
    font-family: 'PT Sans', sans-serif;
    font-size: 16px;
    color: #4e4e4e;
    display: block;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    padding-bottom: 3%;
    padding-top: 2%;
    text-align: center
}

.drink-bar {
	max-width: 180px;
    margin: 0 auto;
    width: 100%;
}

.drinkdes {
	padding-left: 10%;
    padding-right: 10%;
    font-family: 'PT Sans', sans-serif;
    font-size: 16px;
    color: #4e4e4e;
    display: block;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    padding-bottom: 3%;
    padding-top: 2%;
    text-align: center
}

.company-events {
	max-width: 180px;
    margin: 0 auto;
    width: 100%;
}

.eventsdes {
	padding-left: 10%;
    padding-right: 10%;
    font-family: 'PT Sans', sans-serif;
    font-size: 16px;
    color: #4e4e4e;
    display: block;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    padding-bottom: 3%;
    padding-top: 2%;
    text-align: center
}

.sharing-service-support {
	max-width: 180px;
    margin: 0 auto;
    width: 100%;
}

.sharingdes {
	padding-left: 10%;
    padding-right: 10%;
    font-family: 'PT Sans', sans-serif;
    font-size: 16px;
    color: #4e4e4e;
    display: block;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    padding-bottom: 3%;
    padding-top: 2%;
    text-align: center
}

.recreational-discounts {
	max-width: 180px;
    margin: 0 auto;
    width: 100%;
}

.recdes {
	padding-left: 10%;
    padding-right: 10%;
    font-family: 'PT Sans', sans-serif;
    font-size: 16px;
    color: #4e4e4e;
    display: block;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    padding-bottom: 3%;
    padding-top: 2%;
    text-align: center
}

.restaurant-discounts {
	max-width: 180px;
    margin: 0 auto;
    width: 100%;
}

.restaudes {
	padding-left: 10%;
    padding-right: 10%;
    font-family: 'PT Sans', sans-serif;
    font-size: 16px;
    color: #4e4e4e;
    display: block;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    padding-bottom: 3%;
    padding-top: 2%;
    text-align: center
}

.privacy-policy {
	height: 100px;
	background-color: #fff;
	text-align: center;
	font-family: 'PT Sans', sans-serif;
	padding: 13% 5% 0;
	font-size: 55px;
	color: #2e363f;
}

.privacy-policy-title {
    background-color: #fff;
    padding: 0 20px;
    font-family: 'PT Sans', sans-serif;
    color: #909090;
    text-align: center;
    line-height: 1.5;
}

.privacy-policy-des {
	background-color: #fff;
	padding: 0 20px;
	font-family: 'PT Sans', sans-serif;
	color: #909090;
	text-align: justify;
	line-height: 1.5;
}

.privacy-policy-des a {
	text-decoration: none;
	color: #f47317;
}

.privacy-policy-des a:hover {
	text-decoration: underline;
	color: #f47317;
}

.button-container {
	max-width: 210px;
	width: 100%;
	margin: 0 auto;
	margin-top: 15%;
	height: 64px;
	clear: both;
}

.button-container a {
	text-decoration: none;
}

.button-container2 {
	max-width: 460px;
	width: 100%;
	margin: 0 auto;
	margin-top: 9%;
	height: 64px;
}

.button-container2 a {
	text-decoration: none;
}

.button-home {
	max-width: 210px;
	width: 100%;
	margin: 0 auto;
	text-align: center;
	font-family: 'PT Sans', sans-serif;
	background-color: #2e363f;
	padding: 22px 0;
	text-decoration: none;
	color: #ffffff;
	border-radius: 3px;
	border: solid 2px #2e363f;
}

.button-home:hover {
	background-color: #f47317;
	color: #fff;
	font-weight: 600;
	border-radius: 3px;
	border: solid 2px #f47317;
}


.button {
	max-width: 206px;
	width: 100%;
	margin: 10px;
	float: left;
	text-align: center;
	font-family: 'PT Sans', sans-serif;
	background-color: #2e363f;
	padding: 22px 0;
	text-decoration: none;
	color: #ffffff;
    border-radius: 3px;
    border: solid 2px #2e363f;
}

.button1 {
    max-width: 206px;
    width: 100%;
    margin: 10px;
    float: left;
    text-align: center;
    font-family: 'PT Sans', sans-serif;
    background-color: #ffffff;
    padding: 22px 0;
    text-decoration: none;
    color: #2e363f;
    border-radius: 3px;
    border: solid 2px #2e363f;
}

.button:hover {
	background-color: #f47317;
	color: #fff;
	font-weight: 600;
	border-radius: 3px;
    border: solid 2px #f47317;
}

.button1:hover {
	background-color: #f47317;
	color: #fff;
	font-weight: 600;
	border-radius: 3px;
    border: solid 2px #f47317;
}

.footer {
	text-align: center;
	background-color: #2e363f;
	font-family: 'PT Sans', sans-serif;
	clear: both;
	padding: 15px 0;
	margin-top: 10%;
	color: #ffffff;
	font-size: 13px;
}


.navbar {
    overflow: hidden;
    font-family: 'Source Sans Pro', sans-serif;
	width: 40px;
	float: right;
    display: none;
}

.navbar a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.dropdown {
    float: left;
    overflow: hidden;
}

.dropdown .dropbtn {
    cursor: pointer;
    font-size: 16px;    
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

.navbar a:hover, .dropdown:hover .dropbtn, .dropbtn:focus {
    
}

.dropdown-content {
	display: none;
	position: absolute;
	background-color: #f9f9f9;
	min-width: 160px;
	width: 100%;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 1;
	left: 0px;
	margin-top: 11px;
}

.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: center;
}

.dropdown-content a:hover {
    background-color: #f47317;
    color: #ffffff;
}

.show {
    display: block;
}

button.dropbtn {
    background: none;
    border: none;
}

.bar1, .bar2, .bar3 {
    width: 28px;
    height: 3px;
    background-color: #2e363f;
    margin: 6px 0;
    transition: 0.4s;
}

.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-6px, 5px);
}

.change .bar2 {opacity: 0;}

.change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-7px, -7px);
}

.bar4, .bar5, .bar6 {
    width: 28px;
    height: 3px;
    background-color: #2e363f;
    margin: 6px 0;
    transition: 0.4s;
}

.change .bar4 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-6px, 5px);
}

.change .bar5 {opacity: 0;}

.change .bar6 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-7px, -7px);
}




/* ----------- Mission ----------- */

@media screen and (max-width: 1600px) {

    .button-container {
        margin-top: 14%;
    }

}

@media screen and (max-width: 1500px) {

    .button-container {
        margin-top: 13%;
    }

}

@media screen and (max-width: 1400px) {

    .button-container {
        margin-top: 12%;
    }

}

@media screen and (max-width: 1300px) {

    .button-container {
        margin-top: 11%;
    }

}

@media screen and (max-width: 1200px) {

    .button-container {
        margin-top: 10%;
    }

}

@media screen and (max-width: 1166px) {
	.mile-box {
		height: 382px;
	}
	.button-container {
		margin-top: 9%;
	}
	h1 {
		font-size: 43px;
	}
	p {
		font-size: 18px;
	}
}

@media screen and (max-width: 1134px) {
    h1 {
        font-size: 43px;
    }
    p {
        font-size: 17.8px;
    }
}

@media screen and (max-width: 1124px) {

    .mile-box {
        height: 382px;
    }

    .mile-images {
        height: 380px;
    }

    .mile-images-1 {
        height: 380px;
    }
    .button-container {
        margin-top: 15%;
    }
}

@media screen and (max-width: 1113px) {

    .missiondes {
        text-align: center;
        font-family: 'PT Sans', sans-serif;
        font-weight: 100;
        font-size: 43px;
    }

    .mission-image {
        max-width: 514px;
        width: 100%;
        float: none;
        height: 450px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 6%;
    }

    .mission-description {
        width: 100%;
        margin-bottom: 30px;
        margin: 0 0% 9%;
    }

    .mission-box {
        height: 942px;
        padding: 0 5%;
        margin-top: -2%;
    }

    .work-image {
        width: 100%;
        float: none;
        height: 355px;
        margin-left: auto;
        margin-right: auto;
        max-width: 355px;
    }

    .work-description {
        color: #ff862e;
        width: 100%;
        float: left;
        line-height: 1.5;
        text-align: justify;
    }

    .work-title {
        text-align: center;
    }

    .mile-title {
        width: 64%;
        float: none;
        line-height: 1.5;
        text-align: center;
        margin-right: auto;
        margin-left: auto;
    }

    .work-box {
    margin-top: 0px;
    }

    .service-box {
        height: 630px;
    }
    .button-container {
        margin-top: 15%;
    }

}

@media screen and (max-width: 1075px) {
    .mile-box {
        height: 401px;
    }
    .button-container {
        margin-top: 8%;
    }
}

@media screen and (max-width: 1074px) {
    .space {
    display: block;
    }
}

@media screen and (min-width: 1016px) {
  ul.horizontal li {
    max-width: 127.3px;
    width: 100%;
  }
  ul.hor li {
    font-size: 18px;
    max-width: 127.3px;
    width: 100%;
  }
  .nav {
      max-width: 804px;
      width: 100%;
  }
}

@media screen and (max-width: 1015px) {
  ul.horizontal li {
    max-width: 125.5px;
    width: 100%;
  }
  ul.hor li {
    font-size: 18px;
    max-width: 125.5px;
    width: 100%;
  }
  .nav {
      max-width: 793px;
      width: 100%;
  }
}

@media screen and (max-width: 1000px) {

    .mile-images {
        height: 400px;
    }

    .mile-images-1 {
        height: 400px;
    }
    .button-container {
        margin-top: 16%;
    }

}

@media screen and (max-width: 995px) {
    .location-box {
        width: 98%;
        height: 535px;
    }
    .location {
        height: 1130px;
    }
    .locline {
        display: block;
    }
    .location-label {
        width: 46%;
        clear: both;
        margin-right: 6%;
    }
    .location-label-a {
        width: 48%;
    }
    .location-label-b {
        width: 29%;
        clear: both;
        margin-right: 6%;
    }
    .location-label-c {
        width: 59%;
    }
    .officescon {
        max-width: 449px;
        margin: 0 auto;
        width: 100%;
        display: block;
    }
    .loc-normal {
        display: none;
    }
}

@media screen and (max-width: 991px) {

    .service-box {
        padding-left: 5%;
        padding-right: 0%;
        padding-bottom: 30px;
        height: 1100px;
        margin-top: -2%;
    }

    .service-images {
        color: #ff862e;
        max-width: 45%;
        width: 100%;
        float: left;
        text-align: center;
        margin-right: 5%;
        line-height: 1.5;
    }

    .service-images-1 {
        color: #ff862e;
        max-width: 45%;
        text-align: center;
        line-height: 1.5;
        clear: both;
        margin-left: 25%;
        margin-right: 30%;
        height: auto;
        float: none;
        padding-top: 0.5%;
    }

}

@media screen and (min-width: 984px) {
  ul.horizontal li {
    max-width: 122px;
    width: 100%;
  }
  ul.hor li {
    font-size: 18px;
    max-width: 122px;
    width: 100%;
  }
  .nav {
      max-width: 772px;
      width: 100%;
  }
}

@media screen and (max-width: 983px) {
  ul.horizontal li {
    max-width: 120.1px;
    width: 100%;
  }
  ul.hor li {
    font-size: 18px;
    max-width: 120.1px;
    width: 100%;
  }
  .nav {
      max-width: 761px;
      width: 100%;
  }
}

@media screen and (max-width: 980px) {
    p {
        font-size: 18px;
    }
    .mission-box {
        height: 935px;
    }
}

@media screen and (min-width: 972px) {
  ul.horizontal li {
    max-width: 120px;
    width: 100%;
  }
  ul.hor li {
    font-size: 18px;
    max-width: 120px;
    width: 100%;
  }
  .nav {
      max-width: 760px;
      width: 100%;
  }
}

@media screen and (max-width: 971px) {
  ul.horizontal li {
    max-width: 119.8px;
    width: 100%;
  }
  ul.hor li {
    font-size: 18px;
    max-width: 119.8px;
    width: 100%;
  }
  .nav {
      max-width: 759px;
      width: 100%;
  }
}

@media screen and (max-width: 964px) {
    .navbar {
        display: block;
    }
    ul.horizontal {
    display: none;
    }
    ul.hor {
    display: none;
    }
    .nav {
    width: 100%;
    max-width: 40px;
    margin-right: 1%;
    height: auto;
    margin-top: 12px;
      }
  .logo {
      max-width: 105px;
      width: 100%;
      height: auto;
      margin-left: 8px;
      float: left;
      margin-top: 8px;
    }
    .jpcontainer {
    max-width: 68px;
    width: 100%;
    height: 40px;
    float: right;
    }
    .header {
    height: 56px;
    border-bottom: solid 1.5px #ddd;
    }
    .jp {
        margin-right: 8px;
        max-width: 50px;
    }

    .aboutuscon {
        margin-top: 8.6%;
    }

    .missioncon {
        margin-top: 9.3%;
    }

    .servicecon {
        padding-top: 6.4%;
    }

    .work-container {
        padding-top: 2.4%;
    }
    .service-box {
        height: 1080px;
    }
}

@media screen and (max-width: 959px) {
    .service-box {
        height: 1090px;
    }
}

@media screen and (min-width: 930px) {
  ul.horizontal li {
    max-width: 113px;
    width: 100%;
  }
  ul.hor li {
    font-size: 18px;
    max-width: 113px;
    width: 100%;
  }
  .nav {
      max-width: 718px;
      width: 100%;
  }
}

@media screen and (max-width: 929px) {
  ul.horizontal li {
    max-width: 112.8px;
    width: 100%;
  }
  ul.hor li {
    font-size: 18px;
    max-width: 112.8px;
    width: 100%;
  }
}

@media screen and (max-width: 928px) {
    .mission-image {
        float: none;
        height: 450px;
        margin-left: auto;
        margin-right: auto;
    }
    p {
        font-size: 18px;
    }
    .mission-description {
        width: 100%;
        margin-bottom: 30px;
    }
    .work-image {
        width: auto;
        max-width: 355px;
        height: 355px;
        margin-left: auto;
        margin-right: auto;
        float: none;
    }
    .work-description {
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }
    .location {
        height: 1128px;
    }
    .location-box {
        height: 535px;
    }
}

@media screen and (max-width: 922px) {
    p {
        font-size: 18px;
    }
    .mission-description {
        width: 100%;
        margin-bottom: 30px;
    }
}

@media screen and (max-width: 913px) {

    .aboutuscon {
        margin-top: 9%;
    }


}

@media screen and (max-width: 901px) {

    .mile-images {
        width: 44.7%;
        margin-right: 5%;
        margin-bottom: 5%;
        height: 380px;
    }

    .mile-images-1 {
        width: 44.7%;
        margin-right: 5%;
        margin-bottom: 5%;
        height: 380px;
    }

    .work-box-1 {
        padding-left: 5%;
        margin-top: -35px;
        margin-bottom: 4%;
        padding-right: 0;
    }

    .service-box {
        height: 1065px;
    }
    .button-container {
        padding-top: 6%;
    }

}

@media screen and (max-width: 880px) {
    .aboutuscon {
        margin-top: 10%;
    }
}

@media screen and (max-width: 783px) {
    .service-box {
        height: 1040px;
    }
    .privacy-policy {
        height: 95px;
    }
    .aboutuscon {
        margin-top: 10%;
    }
    .missioncon {
        margin-top: 10.3%;
    }
    .work-container {
        padding-top: 3.4%;
    }
}

@media screen and (max-width: 764px) {
    .service-box {
        height: 1025px;
    }
}

@media screen and (max-width: 726px) {
    .service-box {
        height: 1020px;
    }
}

@media screen and (max-width: 710px) {

    .mile-images {
        width: 95%;
        height: 350px;
    }

    .mile-images-1 {
        width: 95%;
        height: 350px;
    }

    .privacy-policy {
        height: 83px;
    }

}

@media screen and (max-width: 631px) {

    .privacy-policy {
        height: 80px;
    }
    .service-box {
        padding-left: 5%;
        padding-right: 0%;
        padding-bottom: 30px;
        height: 1755px;
        margin-top: -2%;
    }

    .service-images {
        color: #ff862e;
        max-width: 95%;
        width: 100%;
        float: left;
        text-align: center;
        margin-right: 5%;
        line-height: 1.5;
    }

    .service-images-1 {
        color: #ff862e;
        max-width: 95%;
        text-align: center;
        line-height: 1.5;
        clear: both;
        float: left;
        height: auto;
        margin: 0;
        padding-top: 0;
    }

}

@media screen and (max-width: 626px) {

    .main-des {
        font-size: 50px;
    }
    .service-box {
        height: 1750px;
    }

}

@media screen and (max-width: 620px) {
    .service-box {
        height: 1735px;
    }
}

@media screen and (max-width: 610px) {
    .service-box {
        height: 1722px;
    }
    .privacy-policy {
        height: 76px;
    }
    .aboutuscon {
        margin-top: 15%;
    }
    .missioncon {
        margin-top: 13.3%;
    }
    .servicecon {
        padding-top: 9.4%;
        margin-top: -4%;
    }
    .work-container {
        padding-top: 5.4%;
    }
}

@media screen and (max-width: 595px) {
    .service-box {
        height: 1695px;
    }
}

@media screen and (max-width: 580px) {
    .service-box {
        height: 1675px;
    }
}

@media screen and (max-width: 570px) {
    .mission-image {
        float: none;
        height: auto;
        margin-left: auto;
        margin-right: auto;
    }
    p {
        font-size: 18px;
    }
    .mission-description {
        width: 100%;
        margin-bottom: 30px;
    }
    .work-title h1 {
        display: none;
    }

    .work-title h3 {
        display: block;
    }

    .mile-title h1 {
        display: none;
    }

    .mile-title h3 {
        display: block;
    }
    .service-box {
        height: 1660px;
    }
}

@media screen and (max-width: 560px) {
    .service-box {
        height: 1655px;
    }
    .privacy-policy {
        height: 70px;
    }
}

@media screen and (max-width: 527px) {

    .main-des {
        font-size: 44px;
    }
    .service-box {
        height: 1635px;
    }
    .privacy-policy {
        height: 62px;
    }

}

@media screen and (max-width: 500px) {

    .service-box {
        height: 1595px;
    }

}

@media screen and (max-width: 490px) {

    .missiondes {
        text-align: center;
    }

    .mission-image {
        height: auto;
        margin-top: 15%;
    }

    .mission-box {
        height: 375px;
    }
    .service-box {
        height: 1585px;
    }
}

@media screen and (max-width: 480px) {

    .dropdown-content {
        margin-top: 11px;
    }

    .officescon {
        display: none;
    }

    .location-box-1 {
        display: block;
    }

    .location {
        height: 1145px;
    }

    .location-box {
        height: 555px;
        margin-left: 5%;
        margin-right: 5%;
        width: 90%;
    }
    .location-label {
        width: 45%;
        clear: both;
        margin-right: 6%;
    }
    .location-label-a {
        width: 48%;
    }
    .location-label-b {
        width: 40%;
        clear: both;
        margin-right: 6%;
    }
    .location-label-c {
        width: 54%;
    }
}

@media screen and (max-width: 476px) {
    .button-container2 {
    max-width: 230px;
    width: 100%;
    height: 175px;
    }
    .privacy-policy {
    height: 60px;
    margin-top: 5%;
    font-size: 45px;
    }
    .service-box {
        height: 1570px;
    }
}

@media screen and (max-width: 464px) {

    .work-title h3 {
        font-size: 32px;
    }

    .mile-title h3 {
        font-size: 32px;
    }
    .service-box {
        height: 1560px;
    }

}

@media screen and (max-width: 447px) {

    .main-des {
        font-size: 43px;
        padding-left: 0.83em;
        padding-right: 0.83em;
    }
    .service-box {
        height: 1550px;
    }

}

@media screen and (max-width: 436px) {
    .service-box {
        height: 1540px;
    }
}

@media screen and (max-width: 374px) {

    body, html {
        margin: 0;
        width: 374px;
    }

    .aboutuscon {
        margin-top: 19.6%;
    }

    .about-image {
        margin-top: -3%;
    }

    .missioncon {
        margin-top: 19.3%;
    }

    .mission-box {
        margin-top: -9%;
    }

    .servicecon {
        padding-top: 11.4%;
    }

    .service-box {
        margin-top: -11%;
    }

    .work-container {
        padding-top: 7.4%;
    }

    .work-box {
        margin-top: -3%;
    }
    .service-box {
        height: 1530px;
    }

}

@media screen and (max-width: 373px) {

    .main-des {
        font-size: 44px;
    }

}

@media screen and (max-width: 351px) {
  .nav {
      width: 100%;
      max-width: 80px;
      margin-right: 10px;
      height: 48px;
      }
  .logo {
      max-width: 85px;
      width: 100%;
      height: auto;
      margin-left: 8px;
      float: left;
      margin-top: 8px;
    }
    .jpcontainer {
    max-width: 68px;
    width: 100%;
    height: 40px;
    float: right;
    }
    .jp {
        margin-right: 8px;
    }
    .header {
    height: 48px;
    border-bottom: solid 1.5px #ddd;
    }
    .location {
        height: 1062px;
    }
    .location-box {
        margin: 5% 5%;
        width: 90%;
        height: 515px;
    }
    .location-label {
    margin-right: 19px;
    }
    .location-label2 {
    max-width: 169px;
    width: 100%;
    float: right;
    font-size: 12px;
    }
    .about-us {
        font-size: 24px;
    }
    .mission {
        font-size: 24px;
    }
    .service {
        font-size: 24px;
    }
    .dropdown-content {
        margin-top: 3px;
    }
    .aboutuscon {
        margin-top: 17.6%;
    }
    .missioncon {
        margin-top: 18.3%;
    }
    .mission-box {
        margin-top: -8%;
    }
    .servicecon {
        padding-top: 10.4%;
    }
    .work-container {
        padding-top: 6.4%;
    }
    .service-box {
        height: 1520px;
    }
}

@media screen and (max-width: 320px) {
    
    body, html {
        margin: 0;
        width: 320px;
    }

    .aboutuscon {
        margin-top: 18.6%;
    }

    .about-image {
        margin-top: -1%;
    }

    .missioncon {
        margin-top: 19.3%;
    }

    .mission-box {
        margin-top: -6%;
    }

    .servicecon {
        padding-top: 10.4%;
    }

    .service-box {
        margin-top: -9%;
    }

    .work-container {
        padding-top: 7.4%;
    }

    .work-box {
        margin-top: -1%;
    }

}

@media screen and (max-width: 319px) {

    .dropdown-content {
        margin-top: 3px;
    }

}

@media screen and (max-width: 306px) {
  .nav {
      width: 100%;
      max-width: 80px;
      margin-right: 10px;
      height: 48px;
      }
  .logo {
      max-width: 85px;
      width: 100%;
      height: auto;
      margin-left: 8px;
      float: left;
      margin-top: 8px;
    }
    .jpcontainer {
    max-width: 68px;
    width: 100%;
    height: 40px;
    float: right;
    }
    .jp {
        margin-right: 8px;
    }
    .header {
    height: 48px;
    }
    .location {
        height: 1162px;
    }
    .location-box {
        height: 570px;
    }
}


@media screen and (max-width: 1089px) {

}


























/* ----------- iPhone 4 and 4S ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2) {

}

/* Portrait */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {

    .location1 {
        display: block;
        height: 970px;
        background-color: #eee;
    }

    .location-box1 {
        max-width: 280px;
        width: 100%;
        margin: 20px 20px 0 20px;
        float: left;
        color: #2e363f;
    }
    h1 {
        text-align: center;
    }
    .location-label1 {
        max-width: 118px;
        width: 100%;
        font-size: 12px;
        margin-right: 9px;
        float: left;
        clear: both;
    }
    p {
        font-size: 16px;
    }

}

/* Landscape */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) {
  	
}

/* ----------- iPhone 5, 5S, 5C and 5SE ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2) {

}

/* Portrait */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {
}

/* Landscape */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) {
  	
}

/* ----------- iPhone 6, 6S, 7 and 8 ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2) {
	
}

/* Portrait */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) { 
  	
}

/* Landscape */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) { 
  	
}

/* ----------- iPhone 6+, 7+ and 8+ ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 414px) 
  and (max-device-width: 736px) 
  and (-webkit-min-device-pixel-ratio: 3) { 

}

/* Portrait */
@media only screen 
  and (min-device-width: 414px) 
  and (max-device-width: 736px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: portrait) {
  
}

/* Landscape */
@media only screen 
  and (min-device-width: 414px) 
  and (max-device-width: 736px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: landscape) {
  		
}

/* ----------- iPhone X ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 812px) 
  and (-webkit-min-device-pixel-ratio: 3) { 

}

/* Portrait */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 812px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: portrait) { 

}

/* Landscape */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 812px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: landscape) { 

}


/* ----------- Galaxy S3 ----------- */

/* Portrait and Landscape */
@media screen 
  and (device-width: 320px) 
  and (device-height: 640px) 
  and (-webkit-device-pixel-ratio: 2) {

}

/* Portrait */
@media screen 
  and (device-width: 320px) 
  and (device-height: 640px) 
  and (-webkit-device-pixel-ratio: 2) 
  and (orientation: portrait) {

}

/* Landscape */
@media screen 
  and (device-width: 320px) 
  and (device-height: 640px) 
  and (-webkit-device-pixel-ratio: 2) 
  and (orientation: landscape) {

}

/* ----------- Galaxy S4, S5 and Note 3 ----------- */

/* Portrait and Landscape */
@media screen 
  and (device-width: 320px) 
  and (device-height: 640px) 
  and (-webkit-device-pixel-ratio: 3) {

}

/* Portrait */
@media screen 
  and (device-width: 320px) 
  and (device-height: 640px) 
  and (-webkit-device-pixel-ratio: 3) 
  and (orientation: portrait) {

}

/* Landscape */
@media screen 
  and (device-width: 320px) 
  and (device-height: 640px) 
  and (-webkit-device-pixel-ratio: 3) 
  and (orientation: landscape) {

}

/* ----------- Galaxy S6 ----------- */

/* Portrait and Landscape */
@media screen 
  and (device-width: 360px) 
  and (device-height: 640px) 
  and (-webkit-device-pixel-ratio: 4) {

}

/* Portrait */
@media screen 
  and (device-width: 360px) 
  and (device-height: 640px) 
  and (-webkit-device-pixel-ratio: 4) 
  and (orientation: portrait) {

}

/* Landscape */
@media screen 
  and (device-width: 360px) 
  and (device-height: 640px) 
  and (-webkit-device-pixel-ratio: 4) 
  and (orientation: landscape) {

}


/* ----------- Google Pixel ----------- */

/* Portrait and Landscape */
@media screen 
  and (device-width: 360px) 
  and (device-height: 640px) 
  and (-webkit-device-pixel-ratio: 3) {

}

/* Portrait */
@media screen 
  and (device-width: 360px) 
  and (device-height: 640px) 
  and (-webkit-device-pixel-ratio: 3) 
  and (orientation: portrait) {

}

/* Landscape */
@media screen 
  and (device-width: 360px) 
  and (device-height: 640px) 
  and (-webkit-device-pixel-ratio: 3) 
  and (orientation: landscape) {

}

/* ----------- Google Pixel XL ----------- */

/* Portrait and Landscape */
@media screen 
  and (device-width: 360px) 
  and (device-height: 640px) 
  and (-webkit-device-pixel-ratio: 4) {

}

/* Portrait */
@media screen 
  and (device-width: 360px) 
  and (device-height: 640px) 
  and (-webkit-device-pixel-ratio: 4) 
  and (orientation: portrait) {

}

/* Landscape */
@media screen 
  and (device-width: 360px) 
  and (device-height: 640px) 
  and (-webkit-device-pixel-ratio: 4) 
  and (orientation: landscape) {

}


/* ----------- HTC One ----------- */

/* Portrait and Landscape */
@media screen 
  and (device-width: 360px) 
  and (device-height: 640px) 
  and (-webkit-device-pixel-ratio: 3) {

}

/* Portrait */
@media screen 
  and (device-width: 360px) 
  and (device-height: 640px) 
  and (-webkit-device-pixel-ratio: 3) 
  and (orientation: portrait) {

}

/* Landscape */
@media screen 
  and (device-width: 360px) 
  and (device-height: 640px) 
  and (-webkit-device-pixel-ratio: 3) 
  and (orientation: landscape) {

}


/* ----------- Windows Phone ----------- */

/* Portrait and Landscape */
@media screen 
  and (device-width: 480px) 
  and (device-height: 800px) {

}

/* Portrait */
@media screen 
  and (device-width: 480px) 
  and (device-height: 800px)  
  and (orientation: portrait) {

}

/* Landscape */
@media screen 
  and (device-width: 480px) 
  and (device-height: 800px) 
  and (orientation: landscape) {

}


